<h3>Aulas</h3>

<p>Cod</p>
<input #cod type="text" />

<p>Nome</p>
<input #nome type="text" />

<p>Dia da Semana</p>
<input #diaDaSemana type="text" />

<p>Horário</p>
<input #horario type="text" />

<p>Ementa</p>
<input #ementa type="text" />

<button
  (click)="
    disciplina.add(
      cod.value,
      nome.value,
      diaDaSemana.value,
      horario.value,
      ementa.value
    )
  "
>
  +
</button>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Dia da Semana</th>
      <th>Horário</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of disciplina.getlist(); index as i">
      <td>{{ item.nome }}</td>
    </tr>
  </tbody>
</table>
